@font-face {
  font-family: "llegas";
  src: url(../fuentes/FuturaStd-Condensed.otf);
}

body {
    margin: 0;
    font-family: "llegas" !important;
}

/*NAVBAR*/
.nav-text {
    font-size: x-large;
}

.bg-navbar {
    background-color: #cccccc;
}

.active a {
    color: white !important;
}

/* Contenedor contenidos index*/
.col1 {
    width: 50%;
    display: inline-block;
    align-items: center;
}

.estB {
    padding-top: 10px;
    font-size: 50px;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
}

.estB1 {
    border-top: black 2px solid;
    padding-top: 10px;
    text-align: justify;
    font-size: 40px;
}

.estB2 {
    text-align: justify;
    font-size: 45px;
    border-bottom: black 2px solid;
}

.estB3 {
    text-align: justify;
    font-size: 32px;
}

@media screen and (max-width: 380px) {
    .estB {
        font-size: 40px;
    }
}

/*Contacto formulario*/
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid;
    box-sizing: border-box;
    resize: vertical;
}

label {
    font-size: 35px !important;
}

input[type=button] {
    background-color: #cccccc;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

/*FOOTER*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

/*Servicios*/
.dropdown {
    position: relative;
}

.dropdown span {
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    display: none;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    position: absolute;
}

.dropdown-content p {
    font-size: 20px;
}

.dropdown-content b3 {
    font-size: 25px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.serviciosLabel {
    display: inline-block;
    padding-top: 5px;
    font-size: 65px;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
}

@media screen and (max-width: 600px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown span {
        padding-left: 0;
    }
}

/*Modal fade*/
.mascara {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.contenido {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
